<div ng-init="hubToday()"  class="hubContainer ng-cloak container" id="body" ng-style="{'background-image':'url({{newTodayHub.background}})'}">
	<div id="weather">
		<div class="container mainHub">
			<a class="logout pull-right;" value="logout" placeholder="Logout" ng-click="logout()"><p>Logout</p></a>
			<div class="hubHeading">
				<h1 class="hubHeadingText">Good {{newTodayHub.greetingTime}}, {{newTodayHub.name}}</h1>
			</div>
			<div class="row">
				<div class="timeContainer col-md-12">
					{{newTodayHub.currentTime}}
				</div>
				<div>
					<H1>You have an alarm set for {{alarms.alarmTime}}</H1>
				</div>
			</div>
			<div class="row">
				<div class="container todayContainer">
					<div class="hubToday col-md-12 hvr-bounce-in" ng-click="tomorrow()">Change Your Plans
					</div>
				</div>
			</div>
		</div>
	</div>
</div>