<div ng-init="hubToday()"  class="hubContainer ng-cloak container" id="body" ng-style="{'background-image':'url({{newTodayHub.background}})'}">
	<div id="weather">
   <div class="container mainHub">
     <a class="logout pull-right;" ng-click="logout()"><p>Logout</p></a>
     <div class="hubHeading">2
      <h1 class="hubHeadingText">Good {{newTodayHub.greetingTime}}, {{newTodayHub.name}}</h1>
    </div>
  <div class="row">
    <div class="timeContainer col-md-12">
      {{newTodayHub.currentTime}}
    </div>
</div>
    <div class="row">
      <div class="container todayContainer">
        <div class="hubToday col-md-12 hvr-bounce-in" ng-click="tomorrow()">Plan your morning
        </div>
      </div>
    </div>
  </div>
</div>
</div>